a {
    text-decoration: none;
    margin: 0px;
}

body {
    padding: 0px;
    background-color: #00181e;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-areas: "nav gallery gallery";
    grid-gap: 30px;

}

.socials {
    display: flex;
    align-items: center;
    width: 100%;
}

#socialIcon {
    margin-right: 20px;
}

.socials h4 {
    display: flex;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    grid-area: nav;
    width: 100%;
    height: 100vh;
}

nav h3 {
    text-align: center;
    margin: 0px;
    color: #ff77a8;
    font-size: 1.3rem;
}

nav ul {
    margin: 0 auto;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    list-style-type: none;
    position: fixed;
    padding-left: 0px;
}

nav li {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

.icon130 {
    margin: 10px 0px;
}

.navItem {
    padding: 10px;
}

.navItem:hover {
    background-color: #008395;
    border-radius: 20px;
}

.landingHome {
    padding: 10px;
}

.landingHome:hover {
    background-color: #008395;
    border-radius: 20px;
}

.landingAboutMe {
    padding: 10px
}

.landingAboutMe:hover {
    background-color: #008395;
    border-radius: 20px;
}

.landingPortfolio {
    padding: 10px;
}

.landingPortfolio:hover {
    background-color: #008395;
    border-radius: 20px;
}

.landingContactMe {
    padding: 10px;
}

.landingContactMe:hover {
    background-color: #008395;
    border-radius: 20px;
}

.gallery {
    width: 100%;
    height: 93vh;
    overflow: scroll;
    grid-area: gallery;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galleryBox {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 40%;
    height: 40%;
    background-color: black;
    border: 5px solid #ff77a8;
    border-radius: 20px;
}

.galleryBox:hover {
    background-color: #008395;
}

.galleryBox img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border: 2px solid #00181e;
    border-radius: 5px;
    background-color: #ff77a8;
}

::-webkit-scrollbar-corner {
    background: none;
}

@media (max-width: 1600px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2 auto;
        grid-template-areas: "gallery gallery";
        grid-gap: 30px;
    }

    #socialIcon {
        width: 30px;
        height: 30px;
    }

    nav {
        grid-area: nav;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 999;
        background-color: #00181e;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
    }
    
    nav ul {
        margin: 0px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        background-color: #00181e;
        border-bottom: 5px solid #ff77a8;
        position: relative;
        height: auto;
        z-index: 999;
    }
    
    nav li {
        display: flex;
        margin: 10px 100px;
        width: auto;
        z-index: 999;
    }

    .iconify {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index: 999;
    }

    .icon130 {
        margin-right: 0px;
    }

    .gallery {
        margin-top: 10vh;
    }
}

@media (max-width: 1250px) {
    nav li {
        margin: 0px;
        width: auto;
    }

    .galleryBox {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .iconify {
        width: 50px;
        height: 50px;
    }

    .navItem h3 {
        font-size: 26px;
    }
}

@media (max-width: 600px) {
    .iconify {
        width: 30px;
        height: 30px;
    }

    .navItem h3 {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .iconify {
        width: 20px;
        height: 20px;
    }

    .navItem h3 {
        font-size: 15px;
    }
}