a {
    text-decoration: none;
    margin: 0px;
    color: #ff77a8;
}

body {
    padding: 0px;
    background-color: #00181e;
    display: grid;
    grid-template-columns: 10% 63% 27%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "nav landing landing"
        "nav aboutMe aboutMeImg1"
        "nav aboutMe aboutMeImg1"
        "nav portfolio portfolio";
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    grid-area: landing;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContainer {
    width: 20%;
    opacity: .7;
    position: absolute;
    display: flex;
    align-self: flex-end;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-weight: bolder;
    background-color: #00181e;
    border: 5px solid #ff77a8;
    padding: 5px;
    color: #ff77a8;
    border-radius: 20px;
}

.landingContainer h1 {
    width: 100%;
    margin: 0px 10px;
}

.landingContainer h3 {
    width: 100%;
    margin: 0px 10px;
}

.socials {
    display: flex;
    align-items: center;
    width: 100%;
}

#socialIcon {
    margin-right: 20px;
}

.socials h4 {
    display: flex;
    margin: 0px;
}

.landingImg {
    margin-left: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid #ff77a8;
    width: 95%;
    height: 93%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    grid-area: nav;
    width: 100%;
    height: 100vh;
}

nav h3 {
    text-align: center;
    margin: 0px;
    color: #ff77a8;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    list-style-type: none;
    position: fixed;
    padding-left: 0px;
}

nav li {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

.icon130 {
    margin: 10px 0px;
}

.navItem {
    padding: 10px;
}

.navItem:hover {
    background-color: #008395;
    border-radius: 20px;
}

.aboutMe {
    color: #ff77a8;
    font-size: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    display: block;
    grid-area: aboutMe;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.aboutMeImg1 {
    display: flex;
    justify-content: left;
    grid-area: aboutMeImg1;
    height: 80vh;
    width: 100%;
}

.aboutMeImg1 img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border: 5px solid #ff77a8;
    border-radius: 20px;
}

.portfolio {
    margin: 20vh 10vh 10vh 10vh;
    scroll-padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    box-sizing: border-box;
    grid-area: portfolio;
    color: #ff77a8;
    border-radius: 20px;
    height: 92vh;
    width: 80%;
    font-size: 3rem;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border: 2px solid #00181e;
    border-radius: 5px;
    background-color: #ff77a8;
}

::-webkit-scrollbar-corner {
    background: none;
}

.portfolioBox {
    position: relative;
    display: flex;
    justify-content: center;
    border: 5px solid #ff77a8;
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    height: 27vh;
}

.portfolioBox img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
}

.boxHead {
    align-self: center;
    font-size: 2.5rem;
    position: absolute;
    z-index: 666;
    margin: 0 auto;
    -webkit-text-stroke:1px white;
    transition: font-size 0.5s;
}

#dinoButt .boxHead {
    color: khaki;
}

#dinoButt {
    border: 5px solid khaki;
}

#mythButt .boxHead {
    color: coral;
}

#mythButt {
    border: 5px solid coral;
}

#paintButt .boxHead {
    color: aqua;
}

#paintButt {
    border: 5px solid aqua;
}

#tattooButt .boxHead {
    color: indianred;
}

#tattooButt {
    border: 5px solid indianred;
}

#vaultButt .boxHead {
    color: silver;
}

#vaultButt {
    border: 5px solid silver;
}

#logoButt .boxHead {
    color: black;
}

#logoButt {
    border: 5px solid black;
}

.boxHead:hover {
    font-size: 3.5rem;
}

.contactMe {
    grid-area: contactMe;
    background-color: #008395;
    border: 5px solid #ff77a8;
}

@media (max-width: 1600px) {
    body {
        grid-template-columns: 68% 32%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "nav nav" 
            "landing landing"
            "aboutMe aboutMeImg1"
            "aboutMe aboutMeImg1"
            "portfolio portfolio";    
    }

    #socialIcon {
        width: 30px;
        height: 30px;
    }

    nav {
        grid-area: nav;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 999;
        background-color: #00181e;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #00181e;
        border-bottom: 5px solid #ff77a8;
        position: relative;
        height: auto;
        z-index: 999;
    }
    
    nav li {
        margin: 10px 100px;
        width: auto;
        z-index: 999;
    }

    .iconify {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index: 999;
    }

    .icon130 {
        margin-right: 0px;
    }

    .landing {
        margin-top: 100px;
        margin-bottom: 40px;
        height: 82vh;
        grid-area: landing;
    }
    
    .landingImg {
        height: 100%;
    }
    
    .aboutMe h2 {
        margin-top: 0px;
    }

    .aboutMe p {
        margin: 0px 10px;
    }
}

@media (max-width: 1450px) {
    nav li {
        margin: 10px 75px;
    }
}

@media (max-width: 1400px) {
    .landingContainer h4 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1300px) {
    .aboutMe p {
        font-size: 2.2rem;
    }

    .landingContainer h1 {
        font-size: 30px;
    }
}

@media (max-width: 1250px) {
    nav li {
        margin: 10px 50px;
    }
}

@media (max-width: 1200px) {
    .landingContainer h4 {
        font-size: 0.7rem;
    }

    #socialIcon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1100px) {
    .aboutMeImg1 {
        display: none;
    }

    body {
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "nav nav" 
            "landing landing"
            "aboutMe aboutMe"
            "portfolio portfolio";    
    }
}

@media (max-width: 1050px) {
    nav {
        grid-area: nav;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 999;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.2rem;
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    
    nav li {
        margin: 10px 0px;
    }

    .iconify {
        width: 50px;
        height: 50px;
    }

    .portfolioBox {
        height: 20vh;
    }
}

@media (max-width: 1005px) {
    .landingContainer h4 {
        font-size: 0.6rem;
    }

    .landingContainer h1 {
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .boxHead {
        font-size: 1.5rem;
    }

    .aboutMe p {
        font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    .landingContainer {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .portfolioBox {
        height: 15vh;
    }

    .aboutMe p {
        font-size: 1.5rem;
    }

    .landingImg {
        height: auto;
    }

    .landing {
        height: auto;
    }
}

@media (max-width: 750px) {
    .landingContainer {
        width: 30%;
        margin-bottom: 35px;
    }
}

@media (max-width: 650px) {
    body {
        margin: 0px;
    }

    .portfolioBox {
        height: 9vh;
    }

    .portfolioBox h2 {
        margin: 0px auto;
    }

    .boxHead {
        font-size: 1.2rem;
    }

    .aboutMe {
        font-size: 1.2rem;
    }

    .aboutMe p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .landingContainer {
        width: 35%;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .landingContainer h1 {
        font-size: 25px;
    }

    .landingContainer h4 {
        font-size: 10px;
    }

    #socialIcons {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 500px) {
    nav h3 {
        font-size: 0.6rem;
    }

    nav ul {
        margin: 0px;
    }

    .iconify {
        width: 30px;
        height: 30px;
    }

    .portfolio {
        margin: 20vh auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {
    .landingContainer {
        width: 40%;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .boxHead {
        font-size: 0.75rem;
    }
    
    .aboutMe {
        font-size: 1rem;
    }

    .aboutMe p {
        font-size: 0.9rem;
    }

    .landingContainer {
        width: 45%;
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .landingContainer {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media (max-width: 310px) {
    .landingContainer {
        width: 60%;
        margin-bottom: 15px;
    }

    .iconify {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 285px) {
    .landingContainer h4 {
        font-size: 9px;
    }

    .landingContainer h1 {
        font-size: 20px;
    }

    nav h3 {
        font-size: 0.4rem;
    }
}