a {
    text-decoration: none;
    margin: 0px;
    color: #ff77a8;
}

body {
    padding: 0px;
    margin: 20px;
    background-color: #00181e;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 15% 58% 27%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "nav landing aboutMeImg1"
        "nav aboutMe aboutMe"
        "nav portfolio portfolio";
}

.landing {
    padding: 20px;
    position: relative;
    height: 93vh;
    grid-area: landing;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContainer {
    width: 70%;
    opacity: .7;
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-weight: bolder;
    background-color: #00181e;
    border: 5px solid #ff77a8;
    box-shadow: 3px 6px 6px #ffc4d9;
    padding: 5px;
    color: #ff77a8;
    border-radius: 20px;
}

.landingContainer:hover {
    background-color: #008395;
}

.landingContainer h1 {
    width: 100%;
    margin: 0px 10px;
}

.landingContainer h3 {
    width: 100%;
    margin: 0px 10px;
}

.socials {
    display: flex;
    align-items: center;
}

#socialIcon {
    margin-right: 20px;
}

.socials h4 {
    display: flex;
    margin: 0px;
}

.landingImg {
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid #ff77a8;
    box-shadow: 3px 6px 6px #ffc4d9;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    grid-area: nav;
    width: 100%;
    height: 100vh;
}

nav h3 {
    text-align: center;
    margin: 0px;
    color: #ff77a8;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    list-style-type: none;
    position: fixed;
    padding-left: 0px;
}

nav li {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

.icon130 {
    margin: 10px 0px;
}

.navItem {
    padding: 10px;
    border: 5px solid #ff77a8;
    border-radius: 20px;
    box-shadow: 3px 6px 6px #ffc4d9;
}

.navItem:hover {
    background-color: #008395;
    border-radius: 20px;
}

.aboutMe {
    color: #ff77a8;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    grid-area: aboutMe;
    padding: 20px;
    height: 50vh;
    width: 100%;
}

.aboutMe h2 {
    margin: 10px auto;
}

.aboutMe p {
    margin: 10px auto;
    font-size: 1.2rem;
}

.aboutMeContainer {
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid #ff77a8;
    box-shadow: 3px 6px 6px #ffc4d9;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.pinkMountain {
    aspect-ratio: 1400/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pmBackground {
    background-image: url(/layered-peaks-haikei-index.svg);
}

.pmBackground:hover {
    background-image: url(/layered-peaks-haikei-hover.svg);
}

.aboutMeImg1 {
    box-sizing: border-box;
    padding: 20px;
    height: 99.5%;
    grid-area: aboutMeImg1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeImg1 img {
    width: 100%;
    height: 100%;
    border: 5px solid #ff77a8;
    box-shadow: 3px 6px 6px #ffc4d9;
    border-radius: 20px;
}

.portfolio {
    grid-area: portfolio;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.portfolioBox {
    box-sizing: border-box;
    min-width: 48%;
    max-width: 48%;
    height: 20%;
    border-radius: 15px;
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border: 2px solid #00181e;
    border-radius: 5px;
    background-color: #ff77a8;
}

::-webkit-scrollbar-corner {
    background: none;
}

.socialsHead {
    text-align: center;
    font-size: 32px;
}

.portfolioBox img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
}

#firstBox img{
    object-fit: fill;
}

#indiButt {
    border: 5px solid #ff77a8;
    box-shadow: 3px 6px 6px #ffc4d9;
}

#indiButt:hover {
    box-shadow: 6px 12px 12px #ffc4d9;
}

#dinoButt {
    border: 5px solid khaki;
    box-shadow: 3px 6px 6px #f6f0bb;
}

#dinoButt:hover {
    box-shadow: 6px 12px 12px #f6f0bb;
}

#mythButt {
    border: 5px solid coral;
    box-shadow: 3px 6px 6px #ffb79d;
}

#mythButt:hover {
    box-shadow: 6px 12px 12px #ffb79d;
}

#paintButt {
    border: 5px solid aqua;
    box-shadow: 3px 6px 6px #b1ffff;
}

#paintButt:hover {
    box-shadow: 6px 12px 12px #b1ffff;
}

#tattooButt {
    border: 5px solid indianred;
    box-shadow: 3px 6px 6px #df9797;
}

#tattooButt:hover {
    box-shadow: 6px 12px 12px #df9797;
}

#vaultButt {
    border: 5px solid silver;
    box-shadow: 3px 6px 6px #e6e6e6;
}

#vaultButt:hover {
    box-shadow: 6px 12px 12px #e6e6e6;
}

#logoButt {
    border: 5px solid black;
    box-shadow: 3px 6px 6px white;
}

#logoButt:hover {
    box-shadow: 6px 12px 12px white;
}

.contactMe {
    grid-area: contactMe;
    background-color: #008395;
    border: 5px solid #ff77a8;
}
/* 
@media (max-width: 1600px) {
    body {
        grid-template-columns: 68% 32%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "nav nav" 
            "landing landing"
            "aboutMe aboutMeImg1"
            "aboutMe aboutMeImg1"
            "portfolio portfolio";    
    }

    #socialIcon {
        width: 30px;
        height: 30px;
    }

    nav {
        grid-area: nav;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 999;
        background-color: #00181e;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #00181e;
        border-bottom: 5px solid #ff77a8;
        position: relative;
        height: auto;
        z-index: 999;
    }
    
    nav li {
        margin: 10px 100px;
        width: auto;
        z-index: 999;
    }

    .iconify {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index: 999;
    }

    .icon130 {
        margin-right: 0px;
    }

    .landing {
        margin-top: 100px;
        margin-bottom: 40px;
        height: 82vh;
        grid-area: landing;
    }
    
    .landingImg {
        height: 100%;
    }
    
    .aboutMe h2 {
        margin-top: 0px;
    }

    .aboutMe p {
        margin: 0px 10px;
    }
} */

/* @media (max-width: 1450px) {
    nav li {
        margin: 10px 75px;
    }
}

@media (max-width: 1400px) {
    .landingContainer h4 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1300px) {
    .aboutMe p {
        font-size: 2.2rem;
    }

    .landingContainer h1 {
        font-size: 30px;
    }
}

@media (max-width: 1250px) {
    nav li {
        margin: 10px 50px;
    }
}

@media (max-width: 1200px) {
    .landingContainer h4 {
        font-size: 0.7rem;
    }

    #socialIcon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1100px) {
    .aboutMeImg1 {
        display: none;
    }

    body {
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "nav nav" 
            "landing landing"
            "aboutMe aboutMe"
            "portfolio portfolio";    
    }
}

@media (max-width: 1050px) {
    nav {
        grid-area: nav;
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 999;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.2rem;
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    
    nav li {
        margin: 10px 0px;
    }

    .iconify {
        width: 50px;
        height: 50px;
    }

    .portfolioBox {
        height: 15vh;
        margin: 15px 0px;
    }
}

@media (max-width: 1005px) {
    .landingContainer h4 {
        font-size: 0.6rem;
    }

    .landingContainer h1 {
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .boxHead {
        font-size: 1.5rem;
    }

    .aboutMe p {
        font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    .landingContainer {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .portfolioBox {
        height: 15vh;
    }

    .aboutMe p {
        font-size: 1.5rem;
    }

    .landingImg {
        height: auto;
    }

    .landing {
        height: auto;
    }
}

@media (max-width: 750px) {
    .landingContainer {
        width: 30%;
        margin-bottom: 35px;
    }
}

@media (max-width: 650px) {
    body {
        margin: 0px;
    }

    .portfolioBox {
        height: 9vh;
    }

    .portfolioBox h2 {
        margin: 0px auto;
    }

    .boxHead {
        font-size: 1.2rem;
    }

    .aboutMe {
        font-size: 1.2rem;
    }

    .aboutMe p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .landingContainer {
        width: 35%;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .landingContainer h1 {
        font-size: 25px;
    }

    .landingContainer h4 {
        font-size: 10px;
    }

    #socialIcons {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 500px) {
    nav h3 {
        font-size: 0.6rem;
    }

    nav ul {
        margin: 0px;
    }

    .iconify {
        width: 30px;
        height: 30px;
    }

    .portfolio {
        margin: 20vh auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {
    .landingContainer {
        width: 40%;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .boxHead {
        font-size: 0.75rem;
    }
    
    .aboutMe {
        font-size: 1rem;
    }

    .aboutMe p {
        font-size: 0.9rem;
    }

    .landingContainer {
        width: 45%;
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .landingContainer {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media (max-width: 310px) {
    .landingContainer {
        width: 60%;
        margin-bottom: 15px;
    }

    .iconify {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 285px) {
    .landingContainer h4 {
        font-size: 9px;
    }

    .landingContainer h1 {
        font-size: 20px;
    }

    nav h3 {
        font-size: 0.4rem;
    }
} */

@media (max-width: 1359px) {
    body {
        grid-template-columns: 65% 35%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "nav nav" 
            "landing aboutMeImg1"
            "aboutMe aboutMe"
            "portfolio portfolio";    
    }

    nav {
        grid-area: nav;
        margin-top: 0px;
        width: 100%;
        height: 15vh;
        position: fixed;
        z-index: 999;
        background-color: #00181e;
    }

    .navItem {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 10px;
        z-index: 999;
    }
    
    nav h3 {
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
    }
    
    nav ul {
        margin: 0px 0px 20px 0px;
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        background-color: #00181e;
        border-bottom: 5px solid #ff77a8;
        box-shadow: 3px 6px 6px #ffc4d9;
        position: relative;
        height: auto;
        z-index: 999;
    }
    
    nav li {
        display: flex;
        margin: 20px;
        width: auto;
        z-index: 999;
    }

    .iconify {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index: 999;
    }

    .icon130 {
        margin-right: 0px;
    }

    #socialIcon {
        width: 30px;
        height: 30px;
    }

    .landing {
        margin-top: 15vh;
        height: 78vh;;
    }

    .aboutMeImg1 img {
        margin-top: 15vh;
        height: 77vh;
        grid-area: aboutMeImg1;
    }
}

@media (max-width: 939px) {
    .portfolioBox {
        min-width: 100%;
        max-width: 100%;
        margin: 10px 0px;
    }

    .socialsHead {
        font-size: 20px;
    }

    .socials h4 {
        font-size: 14px;
    }

    #socialIcon {
        height: 20px;
        margin-right: 5px;
    }
}

